.secondary, .primary
  border-radius: 8px
  padding-top: 16px
  padding-bottom: 16px

.primary
  background: #07C88E
  color: #FFFFFF

.secondary
  background: rgba(62, 80, 114, 0.08)
  color: #000B26CC