@import "../../styles/mixins.sass"

.wrapper
  max-width: 1200px
  &__filters
    max-width: 282px
    width: 23%
    &__checkboxes
      border: 1px solid rgba(#3E507228, 0.16)
      border-radius: 16px
      padding: 24px

      display: flex
      flex-direction: column
      row-gap: 24px
    &__title
      @include text-16
      color: rgba($c-main, 0.8)
      margin: 0
    &__section
      margin-top: 12px
      display: flex
      flex-direction: column
      row-gap: 12px

.title
  &__info
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%

.goods
  display: flex
  justify-content: space-between
  width: 100%
  margin: 40px 0
  &__wrapper
    border: 1px solid rgba(#3E507228, 0.16)
    width: 23.5vw
    max-width: 282px
    min-width: 158px
    height: 545px
    border-radius: 16px
  &__filtration
    margin: 23px 24px
    width: 100%

  &__items
    margin-left: 47px
    max-width: 871px
    display: flex
    flex-wrap: wrap
    gap: 48px
    column-gap: 24px
  &__title
    @include text-16

.checkboxes
  &:not(:first-child)
    margin-top: 12px

.btn__reset
  border-radius: 8px
  width: 100%
  margin-top: 23px


@media only screen and (min-width: 900px)
  .wrapper
    min-width: 800px
    width: 75vw

@media only screen and (max-width: 900px)
  main
    margin-top: 24px
  .title
    &__info
      padding: 0 16px
  .wrapper
    width: 100%


@media only screen and (min-width: 700px)
  .btn
    &__filter
      display: none

  .wrapper__mobile
    display: none


@media only screen and (max-width: 699px)
  .filters__header
      display: none

  .bottom__sheet
    padding: 40px

