.input
  outline: none
  border-radius: 8px
  border: 1px solid rgba(#000B2628, 0.16)
  &Error
    border: 2px solid #FF4545
    border-radius: 8px
  ::placeholder, ::-ms-input-placeholder
    color: #000B2666
    opacity: 16%
