@import "../../styles/mixins.sass"

body
  padding: 0
  margin: 0

.header
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 1600px
  min-width: 1200px
  width: 100vw
  padding: 0 200px
  &__wrapper
    display: flex
    justify-content: center
    width: 100%
    height: 80px
    box-shadow: 0 0.5px 0 #0000001E
  &__button
    border: none
    color: inherit
    background-color: transparent
    font-size: 14px
    line-height: 20px
    font-weight: 400
    opacity: 80%

    display: flex
    flex-direction: row
    align-items: center

    &:not(:first-child)
      margin-left: 51px
    &__link
      margin-left: 4px

      display: flex
      align-items: flex-end

.actions
  display: flex
  flex-direction: row

.link
  @include text-14
  &:not(:last-child)
    margin-right: 24px

.logo
  margin-right: 48px

