@import "../../styles/mixins.sass"

button
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer

body
  padding: 0
  margin: 0

.wrapper
  max-width: 1200px
  min-width: 900px
  width: 75vw
  &__extended
    max-width: 1244px
    min-width: 944px
    width: 100%

.slider
  width: 100%
  &__navigation
    display: flex
    flex-direction: row

    width: 100%
    justify-content: space-between
    position: relative
    top: -185px

.additions
  display: flex
  flex-direction: row
  justify-content: space-between
  column-gap: 24px
  width: 100%

  margin: 48px 0 108px 0
  &__item
    flex: 1

.swiper-button-next
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: center


.swiper-button-next::after
  display: none


