@import "/src/app/styles/mixins"

.slide
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  background: #B3EDC8
  border-radius: 24px
  &__blue
    background: #BFF0DE
  &__yellow
    background: #FFE48F
  &__info
    margin-left: 64px
  &__img
    border-radius: 24px
    width: 100%

  &__title
    margin: 0
    @include adaptiv-font(48, 24)
  &__text
    line-height: 24px

    font-weight: 400

    margin-top: 16px
    margin-bottom: 0
    padding: 0
  &__btn
    padding: 12px 24px
    background: $c-green
    border-radius: 8px

    color: #FFFFFF

    font-weight: 500
    font-size: 16px
    line-height: 24px

    margin-top: 40px
