@import "../../../styles/mixins.sass"

.checkbox
  display: none
  &__wrapper
    display: flex
    flex-direction: row
    &:checked
      background: $c-green
  &__title
    @include text-14
    color: rgba($c-main, 0.74)
    display: flex
    align-items: end
    &:before
      content: " "
      display: inline-block
      margin-right: 9px
      position: relative
      text-align: center
      text-indent: 0
      width: 18px
      height: 18px
      border-radius: 4px
      background: #FFF
      border: 1.5px solid rgba($c-main, 0.4)
      border-image: initial
      vertical-align: middle

.checkbox:checked+label::before
  background-color: $c-green
  content: url("../../../assets/img/checkbox.svg")
  border: 1.5px solid rgba($c-green, 0.4)